Repository MarkLee11/OfferKiller, changes with the owners that .github/CODEOWNERS names for each.
All owners: @offerkiller/core-team, @offerkiller/backend-team, @offerkiller/security-team, @offerkiller/ai-team, @offerkiller/ml-team, @offerkiller/frontend-team, @offerkiller/devops-team, @offerkiller/dba-team

.github/CODEOWNERS:

# Global owners
* @offerkiller/core-team

# Backend services
/backend/ @offerkiller/backend-team
/backend/user-service/ @offerkiller/backend-team @offerkiller/security-team
/backend/gateway/ @offerkiller/backend-team @offerkiller/security-team

# AI services
/ai-services/ @offerkiller/ai-team @offerkiller/ml-team
/ai-services/resume-generator/ @offerkiller/ai-team
/ai-services/cover-letter-generator/ @offerkiller/ai-team
/ai-services/skill-analyzer/ @offerkiller/ai-team
/ai-services/interview-simulator/ @offerkiller/ai-team

# Frontend
/frontend/ @offerkiller/frontend-team

# Infrastructure
/infrastructure/ @offerkiller/devops-team @offerkiller/security-team
/infrastructure/terraform/ @offerkiller/devops-team
/infrastructure/kubernetes/ @offerkiller/devops-team
/infrastructure/monitoring/ @offerkiller/devops-team

# MLOps
/mlops/ @offerkiller/ml-team @offerkiller/devops-team

# CI/CD
/.github/ @offerkiller/devops-team
/.github/workflows/ @offerkiller/devops-team
/.github/actions/ @offerkiller/devops-team

# Documentation
/docs/ @offerkiller/core-team
README.md @offerkiller/core-team

# Security
/security/ @offerkiller/security-team
**/security/ @offerkiller/security-team

# Database
**/migrations/ @offerkiller/backend-team @offerkiller/dba-team
**/flyway/ @offerkiller/backend-team @offerkiller/dba-team

# Configuration
**/*.yaml @offerkiller/devops-team
**/*.yml @offerkiller/devops-team
**/values/ @offerkiller/devops-team

# Secrets and sensitive files
**/*secret* @offerkiller/security-team
**/*credential* @offerkiller/security-team
**/*key* @offerkiller/security-team

fix: update CI workflows to handle missing project files gracefully
  .github/workflows/ci-ai-services.yml
  .github/workflows/ci-backend.yml
  .github/workflows/ci-frontend.yml
Owners: @offerkiller/devops-team

fix: comment out non-existent modules in backend pom.xml
  backend/pom.xml
Owners: @offerkiller/backend-team

Fix GitHub Actions CI/CD pipeline errors with comprehensive error handling
  .github/workflows/ci-ai-services.yml
  .github/workflows/ci-backend.yml
  .github/workflows/ci-frontend.yml
Owners: @offerkiller/devops-team

Fix frontend CI workflow script names to match package.json
  .github/workflows/ci-frontend.yml
Owners: @offerkiller/devops-team

修复所有 GitHub Actions 弃用版本和缺失的条件检查
  .github/workflows/ci-ai-services.yml
  .github/workflows/ci-backend.yml
  .github/workflows/ci-frontend.yml
  .github/workflows/security-scan.yml
Owners: @offerkiller/devops-team

Implement Step 4: Kubernetes foundational platform services
  .claude/settings.local.json
  docs/troubleshooting/k8s-foundation-issues.md
  infrastructure/kubernetes/foundational/config-management/spring-boot-config.yaml
  infrastructure/kubernetes/foundational/istio/destination-rules.yaml
  infrastructure/kubernetes/foundational/istio/gateway.yaml
  infrastructure/kubernetes/foundational/istio/istio-installation.yaml
  infrastructure/kubernetes/foundational/istio/virtual-services.yaml
  infrastructure/kubernetes/foundational/monitoring/prometheus/values.yaml
  infrastructure/kubernetes/foundational/nacos/mysql-nacos.yaml
  infrastructure/kubernetes/foundational/nacos/nacos-configmap.yaml
  infrastructure/kubernetes/foundational/nacos/nacos-deployment.yaml
  infrastructure/kubernetes/foundational/nacos/nacos-pvc.yaml
  infrastructure/kubernetes/foundational/namespace.yaml
  infrastructure/kubernetes/foundational/security/network-policies.yaml
  infrastructure/kubernetes/foundational/security/pod-security.yaml
  infrastructure/kubernetes/foundational/security/rbac.yaml
  prompt/everystep.txt
  prompt/step/4.md
  scripts/deploy-k8s-foundation.sh
Owners: @offerkiller/core-team, @offerkiller/devops-team

Fix: Remove deprecated PodSecurityPolicy for Kubernetes 1.28+ compatibility
  infrastructure/kubernetes/foundational/security/pod-security.yaml
Owners: @offerkiller/devops-team

Fix: Skip Istio Ingress Gateway due to Helm chart compatibility issue
  scripts/deploy-k8s-foundation.sh
Owners: @offerkiller/core-team

Implement Step 5: Helm charts for Redis, RabbitMQ, and Vector Database
  infrastructure/helm/charts/rabbitmq-ha/Chart.yaml
  infrastructure/helm/charts/rabbitmq-ha/templates/_helpers.tpl
  infrastructure/helm/charts/rabbitmq-ha/templates/configmap.yaml
  infrastructure/helm/charts/rabbitmq-ha/templates/pdb.yaml
  infrastructure/helm/charts/rabbitmq-ha/templates/secret.yaml
  infrastructure/helm/charts/rabbitmq-ha/templates/service.yaml
  infrastructure/helm/charts/rabbitmq-ha/templates/statefulset.yaml
  infrastructure/helm/charts/rabbitmq-ha/values.yaml
  infrastructure/helm/charts/redis-cluster/Chart.yaml
  infrastructure/helm/charts/redis-cluster/templates/_helpers.tpl
  infrastructure/helm/charts/redis-cluster/templates/configmap.yaml
  infrastructure/helm/charts/redis-cluster/templates/pdb.yaml
  infrastructure/helm/charts/redis-cluster/templates/service.yaml
  infrastructure/helm/charts/redis-cluster/templates/statefulset.yaml
  infrastructure/helm/charts/redis-cluster/values.yaml
  infrastructure/helm/charts/vector-database/Chart.yaml
  infrastructure/helm/charts/vector-database/templates/_helpers.tpl
  infrastructure/helm/charts/vector-database/templates/configmap.yaml
  infrastructure/helm/charts/vector-database/templates/deployment.yaml
  infrastructure/helm/charts/vector-database/templates/pdb.yaml
  infrastructure/helm/charts/vector-database/templates/pvc.yaml
  infrastructure/helm/charts/vector-database/templates/service.yaml
  infrastructure/helm/charts/vector-database/values.yaml
  infrastructure/helm/values/development/rabbitmq-ha.yaml
  infrastructure/helm/values/development/redis-cluster.yaml
  infrastructure/helm/values/development/vector-database.yaml
  prompt/everystep.txt
  prompt/step/5.md
  scripts/backup-data-layer.sh
  scripts/deploy-data-layer.ps1
  scripts/deploy-data-layer.sh
  scripts/health-check-data-layer.sh
  scripts/setup-dev-access.ps1
Owners: @offerkiller/devops-team, @offerkiller/security-team, @offerkiller/core-team

1
  infrastructure/helm/charts/rabbitmq-ha/Chart.yaml
  infrastructure/helm/charts/redis-cluster/Chart.yaml
  infrastructure/helm/charts/vector-database/Chart.yaml
Owners: @offerkiller/devops-team

1
  infrastructure/helm/charts/rabbitmq-ha/templates/statefulset.yaml
  infrastructure/helm/values/development/rabbitmq-ha.yaml
  scripts/fix-rabbitmq.sh
Owners: @offerkiller/devops-team, @offerkiller/core-team

1
  infrastructure/helm/charts/rabbitmq-ha/templates/statefulset.yaml
  infrastructure/helm/values/development/rabbitmq-simple.yaml
  infrastructure/helm/values/development/rabbitmq-standalone.yaml
  scripts/quick-fix-rabbitmq.sh
  scripts/quick-status.sh
  scripts/restart-cluster.sh
Owners: @offerkiller/devops-team, @offerkiller/core-team

Add research-based simple RabbitMQ solution and deploy-simple-rabbitmq.sh
  infrastructure/helm/charts/rabbitmq-ha/templates/statefulset.yaml
  infrastructure/helm/charts/rabbitmq-simple/Chart.yaml
  infrastructure/helm/charts/rabbitmq-simple/templates/_helpers.tpl
  infrastructure/helm/charts/rabbitmq-simple/templates/deployment.yaml
  infrastructure/helm/charts/rabbitmq-simple/templates/pvc.yaml
  infrastructure/helm/charts/rabbitmq-simple/templates/service.yaml
  infrastructure/helm/charts/rabbitmq-simple/values.yaml
  infrastructure/helm/values/development/rabbitmq-ha.yaml
  scripts/deploy-simple-rabbitmq.sh
Owners: @offerkiller/devops-team, @offerkiller/security-team, @offerkiller/core-team

s5
  infrastructure/helm/charts/vector-database/Chart.yaml
  infrastructure/helm/charts/vector-database/templates/deployment.yaml
  infrastructure/helm/charts/vector-database/templates/hpa.yaml
  infrastructure/helm/charts/vector-database/templates/ingress.yaml
  infrastructure/helm/charts/vector-database/templates/networkpolicy.yaml
  infrastructure/helm/charts/vector-database/templates/servicemonitor.yaml
  infrastructure/helm/charts/vector-database/values.yaml
  infrastructure/helm/values/development/vector-database.yaml
  rabbitkey
  scripts/deploy-vector-database.sh
  scripts/quick-fix-vector-db.sh
  scripts/test-vector-database.sh
Owners: @offerkiller/devops-team, @offerkiller/security-team, @offerkiller/core-team

s5
  scripts/emergency-fix-vector-db.sh
  scripts/quick-fix-vector-db.sh
Owners: @offerkiller/core-team

s5
  scripts/emergency-fix-vector-db.sh
  scripts/fix-chromadb-version.sh
Owners: @offerkiller/core-team
